span.loading-dot {
    margin: 3px; display: inline-block;
    width: 18px; height: 18px; border-radius: 9px; background: orange;
}

div.loading-indicator {
    text-align: center;
    margin: 0.5em auto 1em auto;
}

